# workflow to test that changes haven't broken packages that depend on this one.
name: Test dependents

on:
  workflow_call:
    inputs:
      dependency-repo:
        required: true
        type: string
        description: Repository name with owner of package to test (org/repo).
      dependency-ref:
        required: false
        type: string
        description: Ref to checkout in dependency-repo. Defaults to HEAD in default branch.
      python-version:
        required: false
        type: string
        default: 3.x
        description: Python version to use. Passed to `actions/setup-python`.
      os:
        required: false
        type: string
        default: ubuntu-latest
        description: Operating system to use. Passed to `runs-on:`.
      host-extras:
        required: false
        type: string
        description: Extras to use when installing host (package running this workflow).
      dependency-extras:
        required: false
        type: string
        default: test
        description: Extras to use when installing dependency-repo.
      qt:
        required: false
        type: string
        description: Version of Qt to install.
      post-install-cmd:
        required: false
        type: string
        description: Command(s) to run after installing dependencies.
      pytest-args:
        required: false
        type: string
        description: Additional arguments to pass to pytest. Can be used to specify paths or for for `-k`, `-x`, etc.

jobs:
  test:
    name: ${{ inputs.os }} py${{ inputs.python-version }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
        with:
          path: ${{ github.repository }}
          fetch-depth: 0

      - name: Checkout ${{ inputs.dependency-repo }} ${{ inputs.dependency-ref }}
        uses: actions/checkout@v4
        with:
          path: ${{ inputs.dependency-repo }}
          repository: ${{ inputs.dependency-repo }}
          ref: ${{ inputs.dependency-ref }}
          fetch-depth: 0

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
          allow-prereleases: true

      - name: Setup Headless Display
        if: ${{ inputs.qt != '' }}
        uses: pyvista/setup-headless-display-action@v3
        with:
          qt: true

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install ./${{ inputs.dependency-repo }}${{ inputs.dependency-extras != '' && format('[{0}]', inputs.dependency-extras) || '' }}
          echo "##############################################################"
          echo "##############################################################"
          python -m pip install ./${{ github.repository }}${{ inputs.host-extras != '' && format('[{0}]', inputs.host-extras) || '' }}

      - name: Install Qt (${{ inputs.qt }})
        if: ${{ inputs.qt != '' }}
        run: python -m pip install ${{ inputs.qt }}

      - name: Post install
        if: ${{ inputs.post-install-cmd != '' }}
        run: ${{ inputs.post-install-cmd }}

      - name: Run tests
        run: python -m pytest --color=yes -W default ${{ inputs.pytest-args }}
        working-directory: ${{ inputs.dependency-repo }}
