name: Upload coverage

on:
  workflow_call:
    inputs:
      fail-on-coverage-error:
        required: false
        type: boolean
        default: true
        description: "Fail if codecov action fails."
      artifact-pattern:
        required: false
        type: string
        default: "covreport-*"
        description: "glob pattern to the artifacts that should be downloaded for coverage reports. This should match the `name` you used for the `upload-artifact` step in the job that generates the coverage reports. (*This default matches the name in test-pyrepo.yml*)"
    secrets:
      codecov-token:
        required: false
        description: "Token for codecov-action."

jobs:
  upload_coverage:
    name: Upload coverage
    runs-on: ubuntu-latest
    steps:
      - name: Set CODECOV_TOKEN
        shell: bash
        run: |
          # merge inherited secret with explicit secret
          if [ -n "${{ secrets.codecov-token }}" ]; then
              echo "CODECOV_TOKEN=${{ secrets.codecov-token }}" >> $GITHUB_ENV
          else
              echo "CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }}" >> $GITHUB_ENV
          fi

      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install coverage
        run: pip install coverage

      - name: Download coverage data
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.artifact-pattern }} 
          path: covreports
          merge-multiple: true

      - name: Combine coverage data
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          echo "[paths]" > ci_coveragerc
          echo "source =" >> ci_coveragerc
          # if src exists, add it to the pathmap
          if [ -d "src" ]; then
            echo "    src/" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME\\src" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
          else
            echo "    ${GITHUB_WORKSPACE}" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
          fi
          echo "    */site-packages/" >> ci_coveragerc
          cat ci_coveragerc
          python -Im coverage combine --rcfile=ci_coveragerc covreports
          python -Im coverage xml -o coverage.xml
          python -Im coverage report
          python -Im coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

      - name: Upload to codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: ${{ inputs.fail-on-coverage-error }}
          verbose: true
          token: ${{ env.CODECOV_TOKEN }}
